[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "*"
markdown = "*"
gunicorn = "*"
django-pure-pagination = "*"
django-haystack = "*"
elasticsearch = "==2.4.1"
urllib3 = "*"
django-mdeditor = "*"
django-braces = "*"
pillow = "*"
pygments = "*"
django = "*"
bootstrap-admin = "*"
django-jazzmin = "*"
django-baton = "*"
django-oss-storage = "*"
django-robots = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.8"
