[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
markdown = "*"
gunicorn = "*"
django-pure-pagination = "*"
django-haystack = "*"
elasticsearch = "==2.4.1"
urllib3 = "*"
django-simpleui = "*"
django-mdeditor = "*"
django-braces = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.8"
