.highlight pre {
  margin-top: 0;
}

.literal-block .code-block-caption {
  background-color: #d7e7ee;
  padding: 7.5px 15px;
  font-size: 85%;
}

.literal-block .highlight pre .lineno {
  margin-right: 0.3rem;
}
